@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

.head {
    margin: 20px;
}
.head h1{
    height: 150px;
    padding: 30px;
    font-size: 50px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav ul{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 1000px;
    margin: 0 auto;
    display: flex;
}
.nav ul li a{
    display: block;
    height: 60px;
    /* 높이주려면 블록처리 */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}
.container ul {
    margin-bottom: 30px;
}
.cities {
    padding-bottom: 20px;
}
.cities li {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    gap: 50px;
}
.cities li .photo img{
    border-radius: 15px;
}
.london_page{
    width: 1000px;
    margin: 0 auto;
    padding: 15px 0 80px 0;
}
.london_page .photo img{
    width: 100%;
    margin-bottom: 30px;
}
.london_page .text h2 {
    margin-bottom: 30px;
}
.london_page .text p {
    margin-bottom: 20px;
}
.text {
    line-height: 1.5;
    margin-bottom: 30px;
}
.text h2{
    margin-bottom: 15px;
}

.bottom {
    padding: 20px;
    border-top: 1px solid #ddd;
    width: 1000px;
    margin: 0 auto;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* cities_02 */
.cities_02 {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.cities_02 li {
    width: 300px;
}
.cities_02 li .photo img {
    border-radius: 15px;
}
.cities_02 li .text{
    text-align: center;
}

/* cities_03 */
.cities_03{
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin: 0 auto;
}
.cities_03 li .photo{
    width: 240px;
    height: 240px;
    margin: 0 auto;
    background-color: #ddd;
    border-radius: 240px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cities_03 li .text {
    width: 240px;
    text-align: center;
    margin: 0 auto;
}
.cities_03 li .photo.london{
    background-image: url(../images/london.jpg);
}
.cities_03 li .photo.paris{
    background-image: url(../images/paris.jpg);
}
.cities_03 li .photo.tokyo{
    background-image: url(../images/tokyo.jpg);
}